.container-md{
  border-radius: 20px;  
  position: relative;
}

.formHead{
    margin-top: 13%;
}

.title{
    padding-top: 10%;
}

.head{
    font-family: 'Pacifico', cursive;
    color: rgb(152, 236, 184);
    font-size: 60px;
   
}

.responsable{
    font-size: 20px;
    text-align: right;
    margin-right: 10%;
}

.content{
    position: absolute;
    width: 90%;
    top: 30px;
    left: 20px;
    color: white;
}

.bg-card{
    background-color: rgb(65, 73, 95);
   
}
